@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #7b70cf;
  }
}

html,
body {
  max-width: 99vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50%);
          }
        }
        .scrolling-wrapper {
          display: inline-flex;
          animation: scroll 15s linear infinite;
        }
        @media (min-width: 768px) {
          /* Disable animation on medium+ devices */
          .scrolling-wrapper {
            animation: none;
            transform: none;
          }
        }


